 #modal{
     height: 100vh; 
     width: 100vw;
     background-color: #0E0A14EE;
     position: fixed;
     top: 0;
     display: flex;
     justify-content: center;
     align-items: center;
     transform: 400ms;
 }

 #modal.hide{
     display: none;
 }

 #modal .content{
     color: white;
     width: 420px;
 }

 #modal .header{
     display: flex;
     align-items: center;
     justify-content: space-between;
     margin-bottom: 48px;
 } 

 #modal .header a{
     background-image: url("../img/X/x.svg");
     width: 20px;
     height: 20px;
     display: flex;
    font-size: 0.01px;
 }

 #modal .header h1{
     color: white;
     font-size: 42px;
     line-height: 42px;
}

#modal form label{
    font-size: 14px;
    line-height: 16px;
    display: block;
    margin-bottom: 8px;
    margin-top: 16px;
}

#modal form .field{
    display: flex;
}

#modal form input{
    flex: 1;
    background-color: #f0f0f5;
    height: 35px;
    border: 0;
    border-radius: 8px 0 0 8px;
    padding: 16px 24px;
    color: #6c6c65
}

#modal form .chk{
    /* width: 72px;*/ 
    height: 35px; 
    margin-top: -0.001px;
  
    background-color: #f0f0f5;

    border: 0;
    border-radius: 0 8px 8px 0;
    
    cursor: pointer;
}

