
$black: #211D1D;
$black-dark: #080606;
$black-light: #3B3A3A;

$red: #D71E25;
$red-dark: #B21218;
$red-light: #F03A40;

$white: #EDF1F7;
$white-dark: #E5E9EF;
$white-light: #F4F7FB;

$gray-1: #B8AEAE;
$gray-2: #9F9797;
$gray-3: #857E7E;